<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047984062059-57g26p1i5bgbfqg17gcsgejqf14bdqrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047984062059-57g26p1i5bgbfqg17gcsgejqf14bdqrf</string>
	<key>API_KEY</key>
	<string>AIzaSyCMghzHEiAwth3WE3whFUQcv_bdreHjAb4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047984062059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-de2a9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-de2a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047984062059:ios:32e18bdde3ed53ca303b2e</string>
</dict>
</plist>